doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/geoevent/img/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Events Visualization
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="icon",type="image/x-icon",href="img/favicon.png")
    script(type="text/javascript",src="index.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
  body
    #content(ng-app="main",ng-controller="main")
      #layout
        #demopanel(ng-app="0media.events",ng-controller="0media.events.main")
          #color.form-group
            span.pull-right
              .btn.btn-primary.btn-sm(ng-click="setStyle('default')") Default
              .btn.btn-default.btn-sm(ng-click="setStyle('gray')") Gray
              .btn.btn-success.btn-sm(ng-click="setStyle('green')") Green
            #title.btn-sm.pull-left: strong 
              img(src="img/favicon.png")
              |  Events Visualization 
            .clearfix
          #main: #zm-event.default(ng-class="[style,loaded,dim.htype,dim.wtype]")
            .dimmer
              img(src="img/spin.gif")
              br
              br
              | Preparing the timeline
            .timeline: .timeline-inner
              .header
                .name {{current.name}}
                .casualty {{current.casualty.die}}死 {{current.casualty.hurt}}傷
              .background
              .line-wrap: .line
              .events: .events-inner(ng-attr-style="top:{{events.top}}px",ng-class="{'spd1':speed==1,'spd2':speed==2,'spd3':speed==3}")
                .event(ng-repeat="event in events",
                    ng-attr-style="top:{{event.top}}px;opacity:{{event.fadeout}}",
                    ng-class="{'top':event.first}")
                  .circle(ng-class="{'xl':event.casualty.total>2000,'lg':event.casualty.total<2000 && event.casualty.total>500}")
                  .desc
                    .data {{event.date}}
                    .name(ng-attr-style="opacity:{{event.opacity}}") {{event.name}}
            .ctrlpanel
              i.glyphicon.glyphicon-fast-backward(ng-click="reset()")
              i.glyphicon.glyphicon-play(ng-click="play()",ng-show="state!=1")
              i.glyphicon.glyphicon-pause(ng-click="pause()",ng-show="state!=0")
              i.glyphicon.speed(ng-click="speeding()") {{speed}}X
              .pull-right
                i.glyphicon.glyphicon-chevron-up(ng-click="step(-1)",ng-class="{'active':dir==-1}")
                i.glyphicon.glyphicon-chevron-down(ng-click="step(1)",ng-class="{'active':dir==1}")
            .eventmap
            .bubbles
              .bubble(ng-repeat="event in events",ng-attr-style="top:{{event.y}}px;left:{{event.x}}px;width:{{event.size}}px;height:{{event.size}}px;opacity:{{event.circle_opacity}}",ng-class="{'in':event.bubble.state==1,'out':event.bubble.state==2}") 
            .infopanel
              .pull-right: i.glyphicon.glyphicon-share
              .date.pull-left(ng-cloak) {{current.date}}
              .title(ng-cloak) {{current.name}}
              .casualty.pull-right
                .c-die(ng-cloak)
                  | {{current.casualty.die}}
                  small 死
                .c-hurt(ng-cloak)
                  | {{current.casualty.hurt}}
                  small 傷
        #description
          hr
          .fb-like.pull-right(data-share="false",data-show-faces="false",data-layout="button_count")
          h2 Events Visualization
          p This tool helps you visualize events across time, using bubble to show the magnitude of specific event.
          hr
          h3 How to Use
          p You need to put the event data in google spreadsheet formatted like this one:
          iframe#sample-doc(src="https://docs.google.com/spreadsheets/d/1p0DNKBt4oNfDBgHv4ZXH-vu0bJ_PtxFFXCL7o4O_Cxo/pubhtml?widget=true&amp;headers=false")
          br
          br
          p 
            | Then, in the menu bar of the desired spreadsheet, click 
            em Menu  
            | &#xbb; 
            em Publish to the Web 
            | &#xbb;  
            em Publish
            | to make it public to anyone.
          p 
            | Copy &amp; paste the link of the spreadsheet in this input box:
          .form-group
            input.form-control(
              placeholder="e.g., https://docs.google.com/spreadsheets/d/1p0DNKBt4oNfDBgHv4ZXH-vu0bJ_PtxFFXCL7o4O_Cxo/pubhtml",
              ng-model="datasrc")
          p and setup following configuration:
          .form-inline
            .form-group
              label colorschema
              br
              .btn-group
                .btn.btn-primary.btn-sm(ng-click="setStyle('default')",ng-class="{'active':style=='default'}") Default
                .btn.btn-default.btn-sm(ng-click="setStyle('gray')",ng-class="{'active':style=='gray'}") Gray
                .btn.btn-success.btn-sm(ng-click="setStyle('green')",ng-class="{'active':style=='green'}") Green
            .form-group
              label circle size
              br
              .btn-group
                .btn.btn-default.btn-sm(ng-click="setRatio(1)",ng-class="{'active':ratio==1}") Small
                .btn.btn-info.btn-sm(ng-click="setRatio(5)",ng-class="{'active':ratio==5}") Medium
                .btn.btn-primary.btn-sm(ng-click="setRatio(20)",ng-class="{'active':ratio==20}") Large
          br
          p sample output will be like this:
          iframe#result(ng-attr-src="{{outurlwithhost}}")
          p here is the html code for embedding this in websites:
          textarea.form-control(ng-model="embedcode",rows="5")
          br
          p 
            | or the direct link to the result page: ( 
            a(ng-attr-href="{{outurlwithhost}}",target="_blank") open in new tab
            |  )
          input.form-control(ng-model="outurlwithhost",ng-disabled="true")
          br
          hr
          br
          #footer
            | For source code, please visit 
            a(href="http://github.com/zbryikt/geoevent/") Github Repo
            |  of the events visualization project.

    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '415494205294101',
          xfbml      : true,
          version    : 'v2.2'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54066900-1', 'auto');
      ga('send', 'pageview');
